<li class="list-group-item">
	{{burger_name}}
	<button class="eat-burger btn btn-danger mt-3 float-right" data-id="{{this.id}}" data-eaten="{{devoured}}">EAT!</button>
</li>

{{!-- responsible for the button --}}